name: CI

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  # Stack CI ---------------------------------------------------------------------------------------
  stack-linux:
    name: Stack Linux
    uses: ./.github/workflows/stack.yml
    with:
      os: ubuntu-22.04

  stack-macos:
    name: Stack macOS
    uses: ./.github/workflows/stack.yml
    with:
      os: macos-12

  stack-windows:
    name: Stack Windows
    uses: ./.github/workflows/stack.yml
    with:
      os: windows-latest

  # Nix CI -----------------------------------------------------------------------------------------
  nix-linux:
    name: Nix Linux
    uses: ./.github/workflows/nix.yml
    with:
      os: ubuntu-22.04

  nix-macos:
    name: Nix macOS
    uses: ./.github/workflows/nix.yml
    with:
      os: macos-12
